.side-drawer{
    height: 100%;
    background: lightgrey;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 60%;
    max-width: 250px;
    z-index: 150;
    top: 80px;

}

.side-drawer.open{
    transform: translateX(0);

}



@media only screen and (max-width: 992px) {


}

@media only screen and (max-width: 768px) {

    .side-drawer{
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
    }
}

@media only screen and (max-width: 576px) {

    .side-drawer{
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
    }
}

